* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    height: 100vh;
    background-color: #434343;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}
header img {
    height: 60px;
    margin: 0 20px;
}
.nav_bar {
    display: flex;
    flex-grow: 2;
}
.nav_bar li{
    color: white;
    cursor: pointer;
    list-style: none;
    margin-right: 15px;
}
.search_bar {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.search_bar input {
    height: 30px;
    width: 300px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.search_bar button {
    height: 30px;
    width: 120px;
    color: white;
    background-color: #EF1219;
    border: none;
    border-radius: 5px;
}

main ul{
    height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: center;
    list-style: none;
}
.card {
    position: relative;
    padding: 2px;
    border-radius: 5px;
}
.card img {
    max-width: 342px;
}
.info_card {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.664);
    color:white;
    overflow-y: scroll;
}
.card:hover .info_card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    /* justify-content: space-around; */
}
.info_card h2 {
    text-transform: uppercase;
}
.info_card h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.info_card .flag {
    font-size: 2em;
    text-transform: uppercase;
}
.info_card .vote {
    margin: 10px 0;
}
.vote .fas {
    color: gold;
}
.info_card .overview {
    height: 250px;
    overflow-y: scroll;
}