<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolflix</title>
</head>

<body>
    <div id="root">

        <label for="search">Search</label>
        <input type="text" v-model="searchFilm" placeholder="Inserisci il film da cercare" @keyUp.enter="getFilms"/>
        <button @click="getFilms">Search</button>
        
            <ul>
                <li v-for="(film, index) in films">
                    <div>{{film.title}}</div>
                    <div>{{film.original_title}}</div>
                    <div>{{film.original_title}}</div>
                    <div>{{film.original_language}}</div>
                    <div><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {{film.vote_average}}</div>
                </li>
            </ul>


        

    </div>
    <script src="js/root.js"></script>
</body>

</html>