<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolflix</title>
</head>

<body>
    <div id="root">
        <header>
            <img src="img/boolflix.png" alt="">
            
            <ul class="nav_bar">
                <li>Home</li>
                <li>Film</li>
                <li>Serie TV</li>
            </ul>
            
            <div class="search_bar">
                <input type="text" v-model="searchFilm" placeholder="Cerca film o serie TV" @keyUp.enter="getFilms(searchFilm)" />
                <button @click="getFilms(searchFilm)">Search</button>
            </div>
        </header>

       

        <main>
            <ul>
                <li class="card" v-for="(film, index) in films">
                    <img :src="getPoster(index)" alt=""/>
                    <div class="info_card">
                        <h2 class="title">{{film.title||film.name}}</h2>
                        <h3>{{film.original_title||film.original_name}}</h3>
                        <div class="flag"><img :src="getFlag(index)" :alt="film.original_language"></div>
                        <div class="vote">{{film.vote_average/2}}
                            <i v-for="n in 5" :class="(n <= getVote(index)) ?'fas':'far'" class="fa-star"></i>
                        </div>
                        <div class="overview"><b>Overview: </b><br/>{{film.overview}}</div>
                        <div class="credits"><span v-for="actor in getActors(index)">{{actor.name, }}</span></div>
                    </div>
                </li>
            </ul>

        </main>
            

        

    </div>
    <script src="js/root.js"></script>
</body>

</html>